<style>
div.usermenu a[data-title^="profile"],
div.usermenu a[data-title^="mymoodle"],
#nav-drawer a[data-key="myhome"], 
div.usermenu .dropdown-divider
{
	display: none;
	border:none;
}
.avatars .userpicture {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.login {
	opacity: 0!important;
}
.login a{
 	display:none!important;
}
@font-face { /* where FontName and fontname represents the name of the font you want to add */
     font-family: 'snackercomic';
     src: url([[font:theme|snackercomic.ttf]]);
     src: url([[font:theme|snackercomic.ttf]]) format('truetype');
     font-weight: normal;
     font-style: normal;
   }

.navbar-fhs {
	background:#019101;
}
.navbar-brand, .navbar-brand .site-name {
	display: inline-block!important;
}

.navbar-brand .site-name {
	font-family: snackercomic;
	color: #fff;
	font-size: 38px;
    	font-weight: 600;
}
.site-second-name {
	color: white;
}
.usertext {
	color:white;	
}
.dropdown-toggle::after {
	color:white;                                                                                          
}
@media only screen and (max-width:870px) {
	.col-xs-4 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-2 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media only screen and (max-width:766px) {
	.col-xs-4 {
    flex: 0 0 60%;
    max-width: 60%;
}
.col-xs-2 {
    flex: 0 0 20%;
    max-width: 20%;
}
}

</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav class="navbar-fhs {{#output.show_teacher_navbarcolor}}navbar-teacher{{/output.show_teacher_navbarcolor}} {{#output.show_student_navbarcolor}}navbar-student{{/output.show_student_navbarcolor}} navbar-expand moodle-has-zindex" style="position:fixed!important;top:0;z-index:5;width:100%;box-shadow: 0 0 20px -5px rgba(86, 111, 221,.9);">

<div class="row" style="height:40px;">
    {{#hasfhsdrawer}}
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
    {{/hasfhsdrawer}}

<div id="nav-mobile" class="col-md-4 col-sm-4 col-xs-2" style="display:flex;justify-content:start;height:inherit;">
	<div class="coursecontrols nav-item d-flex align-items-center" style="position:relative;top:6px;">
            {{{ output.teacherdashmenu }}}
            {{{ output.edit_button_fhs }}}
        </div>
</div>

<div id="nav-mobile" class="col-md-4 col-sm-4 col-xs-4" style="display:flex;justify-content:center;height:inherit;">
        <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                d-none d-sm-inline
            {{/ output.should_display_navbar_logo }}
                ">
            {{# output.should_display_navbar_logo }}
                <span class="logo d-none d-sm-inline">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_navbar_logo }}
            <span class="site-name d-none d-md-inline" style="position:relative;top:-10px;">{{{ sitename }}}</span>
        </a>
 </div>
       
        <!-- course_controls -->
<div id="nav-mobile" class="col-md-4 col-sm-4 col-xs-2" style="display:flex;justify-content:end;height:inherit;">
	
        <ul class="navbar-nav d-none d-md-flex">
            <!-- custom_menu -->
            {{{ output.fordson_custom_menu }}}
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <div class="d-none d-lg-block">
            {{{ output.search_box }}}
        </div>

            <!-- navbar_plugin_output -->
            <li class="nav-item">
            {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center" style="position:relative;top:6px;">
                {{{ output.user_menu }}}
            </li>
        </ul>
	<!-- search_box -->
</div>
</div>
<div style="color:#fff;text-align:center;padding-bottom:5px;font-size:22px;font-weight:600;font-style:italic;letter-spacing:1px;word-spacing:-2px;">
	ကျောင်းပြင်ပနှင့် သက်မွေးဝမ်းကျောင်းပညာရေး
</div>       
</nav>

